// Fonts are defined (and automatically loaded) in Vite config (./vite.config.mjs).

// Custom SASS variables are defined in `_variables.scss`

@use "variables" as *;

code,
pre {
  font-family: $mono-font-family !important;
  font-size: 0.9rem !important;
  font-weight: 400 !important;
}

.font-mono {
  font-family: $mono-font-family !important;
}

.mono-sm--text {
  font-size: small !important;
}

.font-mono--input {
  input {
    font-family: $mono-font-family !important;
  }
}

.mono-sm--input {
  input {
    font-size: small !important;
  }
}

.no-select {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}
