/**
 * src/styles/settings.scss
 *
 * Configures SASS variables and Vuetify overwrites
 */

// https://vuetifyjs.com/features/sass-variables/`
@use "vuetify/settings" with (
  $heading-font-family: (
    "Work Sans",
    sans-serif
  ),
  $body-font-family: (
    "Work Sans",
    sans-serif
  ),
  $field-border-width: 1px,
  $field-focused-border-width: 1px
);

// $field-outline-opacity: 0.25
// $color-pack: false
// $body-font-family: ("Inter", sans-serif),
// $heading-font-family: ("Inter", sans-serif)
